//Colours
$black: #000000;

//Brand
$primary: #0722a9;
$accent: #aec8ff;

//font
$inconsolata : 'Inconsolata', monospace;
$quicksand: 'Quicksand', sans-serif;
$baskerville: 'Libre Baskerville', serif;
$oxygen: 'Oxygen', sans-serif;
$sawarabi: 'Sawarabi Mincho', sans-serif;

//Special font sizes
$herotitle-desk: 90px;
$herotitle-mob: 50px;
$herosubtitle-desk: 25px;
$herosubtitle-mob: 15px;

//grids
$page-width-wide: 1600px;
$page-width: 1360px;
$desk-start: 1015px;
$lap-start: 765px;
$palm-start: 420px;

//spacing
$base-spacing: 20px;
