.hero {
  @include container;
  margin: $base-spacing*3 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;

  @include media-query(min, $lap-start) {
    height: 70vh;
    justify-content: space-between;
    flex-direction: row;
  }

  @include media-query(min, $desk-start) {
    justify-content: space-around;
  }

}

.hero__title-wrapper {

}

.hero__subtitle {
  margin: 0;
  font-size: 20px;

  @include media-query(min, $desk-start) {
    font-size: 25px;
  }
}

.hero__title {
  margin: 0;
  width: 100%;
  border-bottom: solid 2px $accent;
  display: inherit;
  font-size: 48px;
  font-weight: 700;

  @include media-query(min, $desk-start) {
    font-size: 90px;
  }

  &:nth-of-type(2) {
    justify-content: flex-end;
    width: max-content;
  }
}

  .hero__image {
    background-image: url('../assets/harry-hero.jpg');
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 50% 30% 20% 60% / 30% 40% 50% 70%;

    &:hover {
      animation: square-to-circle 1s .5s cubic-bezier(1,.015,.295,1.225) alternate;
    }

    @keyframes square-to-circle {
      0%  {
        border-radius: 50% 30% 20% 60% / 30% 40% 50% 70%;
      }
      50% {
        border-radius: 50% 10% / 10% 50%;
      }
      100% {
        border-radius: 50% 30% 20% 60% / 30% 40% 50% 70%;
      }
    }
  }

  .hero__link {
    text-decoration: none;
    color: $accent;

    &:hover {
      text-decoration: underline;
    }
  }

.h-shape {
  position: absolute;
  display: flex;
}

