/**
 * Output font size using rem and px fallback
 *
   `@include font-size(10px);`
 *
 */
/**
 * Output unstyled list properties
 *
   `@include list-reset();`
 *
 */
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Oxygen:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Sawarabi+Mincho");
html, body {
  color: #aec8ff;
  font-family: "Sawarabi Mincho", sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0722a9;
  margin: 0; }

.logo-link {
  z-index: 9999; }

.logo {
  position: absolute;
  top: 18px;
  left: 0; }
  .logo.active {
    position: fixed; }
    .logo.active :after {
      color: #aec8ff;
      background: #0722a9; }
  .logo h1 {
    margin: 0; }
    .logo h1:after {
      color: #0722a9;
      padding: 20px 30px;
      content: "|-|";
      background: #aec8ff; }

.work-gallery__grid, .grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  list-style-type: none;
  grid-gap: 10px;
  padding: 0; }
  @media only screen and (min-width: 765px) {
    .work-gallery__grid, .grid {
      grid-template-columns: repeat(auto-fill, minmax(20%, 1fr)); } }

.work-gallery__item, figure {
  display: block;
  background: #aec8ff;
  height: 300px;
  width: 100%;
  margin: 0;
  background-size: cover; }
  .work-gallery__item:nth-of-type(1), figure:nth-of-type(1) {
    background-image: url("http://placeimg.com/265/610/tech"); }
  .work-gallery__item:nth-of-type(2), figure:nth-of-type(2) {
    background-image: url("http://placeimg.com/265/300/tech"); }
  .work-gallery__item:nth-of-type(3), figure:nth-of-type(3) {
    background-image: url("http://placeimg.com/540/610/tech"); }
  .work-gallery__item:nth-of-type(4), figure:nth-of-type(4) {
    background-image: url("http://placeimg.com/540/300/tech"); }
  .work-gallery__item:nth-of-type(5), figure:nth-of-type(5) {
    background-image: url("http://placeimg.com/265/330/tech"); }
  .work-gallery__item:nth-of-type(6), figure:nth-of-type(6) {
    background-image: url("http://placeimg.com/265/310/tech"); }
  .work-gallery__item:nth-of-type(7), figure:nth-of-type(7) {
    background-image: url("http://placeimg.com/265/320/tech"); }
  @media only screen and (min-width: 765px) {
    .work-gallery__item:nth-of-type(1), figure:nth-of-type(1) {
      display: grid;
      grid-row-start: 1;
      grid-row-end: 3;
      height: 100%; }
    .work-gallery__item:nth-of-type(3), figure:nth-of-type(3) {
      display: grid;
      grid-row: 2 / span 2;
      grid-column: 2 / span 2;
      height: 100%; }
    .work-gallery__item:nth-of-type(4), figure:nth-of-type(4) {
      display: grid;
      grid-row: 1 / 2;
      grid-column: 1 / span 2;
      height: 100%; } }
  .work-gallery__item:hover, figure:hover {
    opacity: 0.8;
    cursor: pointer; }
    .work-gallery__item:hover.fullscreen, figure:hover.fullscreen {
      opacity: 1; }
    .work-gallery__item:hover > .work-gallery__item--label, figure:hover > .work-gallery__item--label {
      visibility: visible; }
  .work-gallery__item.fullscreen, figure.fullscreen {
    width: 100%;
    height: 300vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    animation: fill-animate 1.5s forwards;
    /** Fill screen animation **/ }

@keyframes fill-animate {
  0% {
    width: 100%;
    top: 0;
    left: 0;
    height: 100px; }
  100% {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; } }
    @media only screen and (min-width: 765px) {
      .work-gallery__item.fullscreen, figure.fullscreen {
        height: 200vh; } }

.work-gallery__item--content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 999; }

.work-gallery__item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; }

.work-gallery__item--title {
  color: white;
  margin: 0;
  background: black;
  padding: 4px; }

.work-gallery__item--label {
  color: white;
  background: black;
  padding: 4px; }

.noscroll {
  overflow: hidden; }

.grid-wrap {
  margin: 10px auto 0;
  max-width: 1090px;
  width: 100%;
  padding: 0;
  -webkit-perspective: 1500px;
  perspective: 1500px; }

.grid {
  position: relative;
  -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.25, 1);
  transition: all 0.5s cubic-bezier(0, 0, 0.25, 1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.view-full .grid {
  -webkit-transform: translateZ(-1500px);
  transform: translateZ(-1500px); }

.grid .placeholder {
  pointer-events: none;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.placeholder > div {
  background: #aec8ff;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.placeholder .back {
  background: #aec8ff;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.view-full .placeholder {
  -webkit-transition: all 0.5s 0.1s cubic-bezier(0, 0, 0.25, 1);
  transition: all 0.5s 0.1s cubic-bezier(0, 0, 0.25, 1); }

.vertical .view-full .placeholder {
  -webkit-transform: translateZ(1500px) rotateX(-179.9deg);
  transform: translateZ(1500px) rotateX(-179.9deg);
  /* FF, Chrome, can we agree on one direction, pleeease? */ }

.horizontal .view-full .placeholder {
  -webkit-transform: translateZ(1500px) rotateY(-179.9deg);
  transform: translateZ(1500px) rotateY(-179.9deg); }

.content,
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  /* Careful, does not work in IE < 11 http://caniuse.com/#search=pointer-events */ }

.content {
  overflow-y: scroll;
  height: 0;
  /* What seems to be the problem, officer? Well, we have a second scroll bar in Chrome! */
  visibility: hidden;
  z-index: 400;
  -webkit-overflow-scrolling: touch; }

.loading {
  opacity: 0;
  z-index: 1;
  background: transparent url(../img/preloader.gif) no-repeat center center;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s; }

.loading.show {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.content.show {
  height: auto;
  pointer-events: auto;
  visibility: visible;
  background: black; }

.content > div {
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 0;
  opacity: 0;
  background: black; }

.content > div.show {
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s; }

.icon:before {
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.close-content {
  position: fixed;
  z-index: 1000;
  top: 40px;
  right: 40px;
  font-size: 1.6em;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  height: 20px;
  width: 20px;
  background-image: url("../assets/letter-x.svg");
  background-size: contain;
  background-repeat: no-repeat; }

.content > div.show ~ .close-content {
  opacity: 1;
  pointer-events: auto; }

/* Dummy content */
.dummy-img,
.dummy-text {
  max-width: 600px;
  width: 90%;
  opacity: 0;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s; }

.vertical .dummy-img,
.vertical .dummy-text {
  -webkit-transform: translateY(100px);
  transform: translateY(100px); }

.horizontal .dummy-img,
.horizontal .dummy-text {
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px); }

.content > div.show .dummy-img,
.content > div.show .dummy-text {
  opacity: 1; }

.vertical .content > div.show .dummy-img,
.vertical .content > div.show .dummy-text {
  -webkit-transform: translateY(0);
  transform: translateY(0); }

.horizontal .content > div.show .dummy-img,
.horizontal .content > div.show .dummy-text {
  -webkit-transform: translateX(0);
  transform: translateX(0); }

p.dummy-text:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

p.dummy-text:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.dummy-img {
  height: 400px;
  background-color: #ddd;
  margin: 100px auto; }

.dummy-text {
  text-align: left;
  margin: 0 auto;
  padding: 10px 0;
  color: #ddd;
  font-size: 1em;
  font-family: 'Blokk', Arial, serif; }

.dummy-text:last-child {
  padding-bottom: 100px; }

/* Simple fallback */
/* if any of these are not supported, a simple fallback will be shown */
.no-pointerevents .content,
.no-csstransforms3d .content,
.no-csstransitions .content,
.no-pointerevents .content > div,
.no-csstransforms3d .content > div,
.no-csstransitions .content > div,
.no-pointerevents .close-content,
.no-csstransforms3d .close-content,
.no-csstransitions .close-content {
  opacity: 1;
  visibility: visible;
  display: none;
  height: auto; }

.no-pointerevents .show .close-content,
.no-csstransforms3d .show .close-content,
.no-csstransition .show .close-content,
.no-pointerevents div.show,
.no-csstransforms3d div.show,
.no-csstransitions div.show,
.no-csstransitions .dummy-img,
.no-csstransitions .dummy-text,
.no-csstransforms3d .dummy-img,
.no-csstransforms3d .dummy-text,
.no-pointerevents .dummy-img,
.no-pointerevents .dummy-text {
  display: block !important;
  opacity: 1; }

.header__wrapper {
  min-width: 320px; }

header {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.footer__wrapper {
  max-width: 1360px;
  margin: auto; }
  @media only screen and (min-width: 765px) {
    .footer__wrapper {
      padding: 0 100px; } }

.copyright {
  text-align: start; }

.nav {
  min-width: 320px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 0; }
  @media only screen and (min-width: 420px) {
    .nav {
      top: -10px; } }

.nav__list {
  display: flex;
  list-style-type: none; }

.nav__item {
  margin-right: 13.33333px; }
  .nav__item:last-of-type {
    margin-right: 15px; }

.nav__link {
  text-decoration: none;
  font-size: 22px;
  color: #aec8ff;
  font-weight: bold; }
  .nav__link:hover {
    text-decoration: underline;
    color: #aec8ff; }

.hero {
  max-width: 1360px;
  margin: auto;
  margin: 60px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse; }
  @media only screen and (min-width: 765px) {
    .hero {
      padding: 0 100px; } }
  @media only screen and (min-width: 765px) {
    .hero {
      height: 70vh;
      justify-content: space-between;
      flex-direction: row; } }
  @media only screen and (min-width: 1015px) {
    .hero {
      justify-content: space-around; } }

.hero__subtitle {
  margin: 0;
  font-size: 20px; }
  @media only screen and (min-width: 1015px) {
    .hero__subtitle {
      font-size: 25px; } }

.hero__title {
  margin: 0;
  width: 100%;
  border-bottom: solid 2px #aec8ff;
  display: inherit;
  font-size: 48px;
  font-weight: 700; }
  @media only screen and (min-width: 1015px) {
    .hero__title {
      font-size: 90px; } }
  .hero__title:nth-of-type(2) {
    justify-content: flex-end;
    width: max-content; }

.hero__image {
  background-image: url("../assets/harry-hero.jpg");
  background-size: cover;
  width: 250px;
  height: 250px;
  border-radius: 50% 30% 20% 60% / 30% 40% 50% 70%; }
  .hero__image:hover {
    animation: square-to-circle 1s 0.5s cubic-bezier(1, 0.015, 0.295, 1.225) alternate; }

@keyframes square-to-circle {
  0% {
    border-radius: 50% 30% 20% 60% / 30% 40% 50% 70%; }
  50% {
    border-radius: 50% 10% / 10% 50%; }
  100% {
    border-radius: 50% 30% 20% 60% / 30% 40% 50% 70%; } }

.hero__link {
  text-decoration: none;
  color: #aec8ff; }
  .hero__link:hover {
    text-decoration: underline; }

.h-shape {
  position: absolute;
  display: flex; }

.about__wrapper {
  margin: auto;
  max-width: 1360px;
  margin: auto; }
  @media only screen and (min-width: 765px) {
    .about__wrapper {
      padding: 0 100px; } }

.about p {
  font-size: 20px; }

.about__title {
  margin-bottom: 0;
  font-size: 48px; }

.about__subtitle {
  font-size: 24px; }

.about__link {
  text-decoration: none;
  color: #aec8ff; }

@media only screen and (min-width: 1015px) {
  .work__wrapper {
    max-width: 1360px;
    margin: auto; } }
  @media only screen and (min-width: 1015px) and (min-width: 765px) {
    .work__wrapper {
      padding: 0 100px; } }

.contact__wrapper {
  max-width: 1360px;
  margin: auto;
  padding: 20px; }
  @media only screen and (min-width: 765px) {
    .contact__wrapper {
      padding: 0 100px; } }
  .contact__wrapper input {
    font-size: 18px;
    height: 35px;
    color: #0722a9;
    border: solid 2px #0722a9;
    background: #aec8ff;
    border-radius: 5px;
    padding: 0 10px; }
    .contact__wrapper input:focus {
      outline: 0;
      border-bottom: 2px solid orangered; }
  .contact__wrapper .contact {
    max-width: 765px;
    margin: auto; }
  .contact__wrapper .contact__form-message textarea {
    font-size: 14px;
    color: #0722a9;
    background-color: #aec8ff;
    border: solid 2px #0722a9;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px; }
    .contact__wrapper .contact__form-message textarea:focus {
      outline: none;
      border-bottom: solid 2px orangered; }
  .contact__wrapper .contact__form-name, .contact__wrapper .contact__form-email, .contact__wrapper .contact__form-message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; }
  .contact__wrapper .contact-submit-btn {
    height: 50px;
    width: 100%;
    padding: 0 60px; }
    .contact__wrapper .contact-submit-btn:hover {
      background: black;
      cursor: pointer; }
