/**
 * Output font size using rem and px fallback
 *
   `@include font-size(10px);`
 *
 */
/**
 * Output unstyled list properties
 *
   `@include list-reset();`
 *
 */
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Oxygen:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Sawarabi+Mincho");
html, body {
  color: black;
  font-family: "Sawarabi Mincho", sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffe000; }

.logo-link {
  z-index: 1; }

.logo {
  position: absolute;
  top: 18px;
  left: 0; }
  .logo h1 {
    margin: 0; }
    .logo h1:after {
      color: #ffe000;
      padding: 20px 30px;
      content: "|-|";
      background: black; }

.work-gallery__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  list-style-type: none;
  grid-gap: 10px;
  padding: 0; }
  @media only screen and (min-width: 765px) {
    .work-gallery__grid {
      grid-template-columns: repeat(auto-fill, minmax(20%, 1fr)); } }

.work-gallery__item {
  display: block;
  background: black;
  height: 300px;
  width: 100%; }
  @media only screen and (min-width: 765px) {
    .work-gallery__item:nth-of-type(1) {
      display: grid;
      grid-row-start: 1;
      grid-row-end: 3;
      height: 100%;
      background: red !important; }
    .work-gallery__item:nth-of-type(3) {
      display: grid;
      grid-row: 2 / span 2;
      grid-column: 2 / span 2;
      height: 100%;
      background: red !important; }
    .work-gallery__item:nth-of-type(4) {
      display: grid;
      grid-row: 1 / 2;
      grid-column: 1 / span 2;
      height: 100%;
      background: red !important; } }
  .work-gallery__item:hover {
    opacity: 0.8;
    cursor: pointer; }
    .work-gallery__item:hover.fullscreen {
      opacity: 1; }
    .work-gallery__item:hover > .work-gallery__item--label {
      visibility: visible; }
  .work-gallery__item.fullscreen {
    width: 100%;
    height: 300vh;
    position: absolute;
    top: 0;
    left: 0; }
    @media only screen and (min-width: 765px) {
      .work-gallery__item.fullscreen {
        height: 200vh; } }
    .work-gallery__item.fullscreen .work-gallery__item--content {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column; }

.work-gallery__item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; }

.work-gallery__item--title {
  color: white;
  margin: 0; }

.work-gallery__item--label {
  color: white; }

.header__wrapper {
  min-width: 320px; }

header {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.footer__wrapper {
  max-width: 1360px;
  margin: auto; }
  @media only screen and (min-width: 765px) {
    .footer__wrapper {
      padding: 0 100px; } }
  @media only screen and (min-width: 765px) {
    .footer__wrapper {
      max-width: 1360px;
      margin: auto; } }
  @media only screen and (min-width: 765px) and (min-width: 765px) {
    .footer__wrapper {
      padding: 0 100px; } }

.copyright {
  text-align: start; }

.nav {
  min-width: 320px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 0; }
  @media only screen and (min-width: 420px) {
    .nav {
      top: -10px; } }

.nav__list {
  display: flex;
  list-style-type: none; }

.nav__item {
  margin-right: 13.33333px; }
  .nav__item:last-of-type {
    margin-right: 15px; }

.nav__link {
  text-decoration: none;
  font-size: 22px;
  color: black;
  font-weight: bold; }
  .nav__link:hover {
    text-decoration: underline;
    color: black; }

.hero {
  max-width: 1360px;
  margin: auto;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse; }
  @media only screen and (min-width: 765px) {
    .hero {
      padding: 0 100px; } }
  @media only screen and (min-width: 765px) {
    .hero {
      justify-content: space-between;
      flex-direction: row; } }
  @media only screen and (min-width: 1015px) {
    .hero {
      justify-content: space-around; } }

.hero__subtitle {
  margin: 0;
  font-size: 20px; }
  @media only screen and (min-width: 1015px) {
    .hero__subtitle {
      font-size: 25px; } }

.hero__title {
  margin: 0;
  width: 100%;
  border-bottom: solid 2px black;
  display: inherit;
  font-size: 50px;
  font-weight: 700; }
  @media only screen and (min-width: 1015px) {
    .hero__title {
      font-size: 90px; } }
  .hero__title:nth-of-type(2) {
    justify-content: flex-end;
    width: max-content; }

.hero__image {
  background-image: url("../assets/harry-hero.jpg");
  background-size: cover;
  width: 250px;
  height: 250px;
  border-radius: 50% 30% 20% 60% / 30% 40% 50% 70%; }
  .hero__image:hover {
    animation: square-to-circle 1s 0.5s cubic-bezier(1, 0.015, 0.295, 1.225) alternate; }

@keyframes square-to-circle {
  0% {
    border-radius: 50% 30% 20% 60% / 30% 40% 50% 70%; }
  50% {
    border-radius: 50% 10% / 10% 50%; }
  100% {
    border-radius: 50% 30% 20% 60% / 30% 40% 50% 70%; } }

.hero__link {
  text-decoration: none;
  color: black; }
  .hero__link:hover {
    text-decoration: underline; }

.about__wrapper {
  margin: auto;
  max-width: 1360px;
  margin: auto; }
  @media only screen and (min-width: 765px) {
    .about__wrapper {
      padding: 0 100px; } }

.about p {
  font-size: 20px; }

.about__title {
  margin-bottom: 0;
  font-size: 48px; }

.about__subtitle {
  font-size: 24px; }

@media only screen and (min-width: 1015px) {
  .work__wrapper {
    max-width: 1360px;
    margin: auto; } }
  @media only screen and (min-width: 1015px) and (min-width: 765px) {
    .work__wrapper {
      padding: 0 100px; } }

.contact__wrapper {
  max-width: 1360px;
  margin: auto; }
  @media only screen and (min-width: 765px) {
    .contact__wrapper {
      padding: 0 100px; } }
  .contact__wrapper input {
    font-size: 18px;
    height: 35px;
    color: #ffe000;
    border: solid 2px #ffe000;
    background: black;
    border-radius: 3px;
    padding: 0 10px; }
    .contact__wrapper input:focus {
      outline: 0;
      border-bottom: 2px solid orangered; }
  .contact__wrapper .contact {
    max-width: 765px; }
  .contact__wrapper .contact__form-message textarea {
    font-size: 14px;
    color: #ffe000;
    background-color: black;
    border: solid 2px #ffe000;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px; }
    .contact__wrapper .contact__form-message textarea:focus {
      outline: none;
      border-bottom: solid 2px orangered; }
  .contact__wrapper .contact__form-name, .contact__wrapper .contact__form-email, .contact__wrapper .contact__form-message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; }
  .contact__wrapper .contact-submit-btn {
    height: 50px;
    width: 100%;
    padding: 0 60px; }
    .contact__wrapper .contact-submit-btn:hover {
      background: #332d00;
      cursor: pointer; }
