.work-gallery__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  list-style-type: none;
  grid-gap: $base-spacing/2;
  padding: 0;
}

.work-gallery__item {
  display: block;
  background: red;
  height: 300px;
  width: 100%;

  &:hover {
    opacity: 0.8;
    cursor: pointer;

    & > .work-gallery__item--label {
      visibility: visible;
    }
  }
}

.work-gallery__item--label {
  visibility: hidden;
}